<h1>Editing lab_group</h1>

<% form_for(@lab_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :file_folder %><br />
    <%= f.text_field :file_folder %>
  </p>
  <p>
    <%= f.label :lock_version %><br />
    <%= f.text_field :lock_version %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @lab_group %> |
<%= link_to 'Back', lab_groups_path %>