<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Lock version</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.login %></td>
    <td><%=h user.email %></td>
    <td><%=h user.firstname %></td>
    <td><%=h user.lastname %></td>
    <td><%=h user.created_at %></td>
    <td><%=h user.updated_at %></td>
    <td><%=h user.lock_version %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>